<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/starRating.css">


<div class="row mb-3 mt-0">
    <div class="col-md-6 mb-3">
        <div id="campgroundCarousel" class="carousel slide">
            <div class="carousel-inner">
                <%campground.images.forEach((img,i) => { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                        <img src="<%=img.url%>" class="d-block w-100" alt="...">
                      </div>
                <%})%>
            </div>
           <%if(campground.images.length > 1){ %>
             <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          <% } %>
          </div>



        <div class="card mb-3" >
            <div class="card-body">
              <h5 class="card-title"><%=campground.title %></h5>
              <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group">
                <li class="list-group-item text-muted"><%= campground.location %></li>
                <li class="list-group-item">Submitted by <b><%= campground.author.username %></b></li>
                <li class="list-group-item">$<%= campground.price%>/night</li>
            </ul>

            <!-- we hide the edit & delete button based on the condition 
            campground.author(which is string of Object_Id) is Equal to currentUser._id 
            and also if currentUser Exists which we set in res.locals.currentUser -->

            <% if(currentUser && campground.author.equals(currentUser._id)){ %>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
    <div class="col-6">
        <div id='map' style='width: 25rem; height: 300px;'></div>
        <% if(currentUser){ %>
            <h2>Leave a Review</h2>
        <form action="/campgrounds/<%=campground._id%>/review" method="post" class="needs-validation mb-3" novalidate>
            <!-- <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" name="reviews[rating]" id="rating" class="form-range" min="1" max="5">
            </div> -->
            
                <fieldset class="starability-checkmark">
                    <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
        
            <div class="mb-3">
                <label for="review" class="form-label">Review Text:</label>
                <textarea name="reviews[body]" id="review" cols="30" rows="3" class="form-control" required></textarea>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a review text</div>
            </div>
            <button class="btn btn-warning">Add Review</button>
        </form>
        <% } %>
        <% campground.reviews.map(review => { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"> <%= review.author.username%></h5>
                    <p class="starability-result" data-rating="<%=review.rating%>">
                        Rated: <%= review.rating %> stars
                    </p>
                    <p class="card-text">Review: <%= review.body %></p>
                    <% if(currentUser && review.author.equals(currentUser._id)){ %>
                    <form action="/campgrounds/<%=campground._id%>/review/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
                
            </div>
         <% }) %>
    </div>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
    const campground = <%- JSON.stringify(campground) %>
</script>

<script src="/javascript/showMap.js"></script>
